nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding-inline: 0.7rem;
}
nav a {
  text-decoration: none;
  color: var(--secondary-text-color);
  padding-inline: 5px;
  font-weight: var(--fw-light);
}
.active {
  color: var(--primary-color);
}
